 {% extends "base.html" %}

{% block content %}

<head>
    <title> Homepage </title>

    <body>
        <center><h1> Welcome {{ userName }} </h1></center>

        <center>
        <br>
        <h3> This is buddy study a web application where students teach students </h3><h3>(Who needs tutors?).</h3>
        <div class="parallax" alt="Picture of students studying"></div>

        <br>
      
        <h3> You can join groups where you can study with other students on the topic in the group post. </h3>
        <br>
        <h3> Anyone can join a group and all the details will be available in the link attatched to the header. </h3>
        <br>
        <h3> Ready to start? Simply press book and your place is reserved you can then navigate to your groups in the navigation bar above.</h3>

        <br>
        <h3> Changed your mind? No problem simply delete your booking in your groups section</h3>
        <div class="parallax2" alt="Picture of students studying"></div>
        <br>
        <h3> Can't find a group? Start your own using the navigation bar above. </h3>
        <br>
        <h3> Once you start your group watch other students book on and make sure you can attend as the main coordinator.</h3>

        <br>
        <h3> With all these features and more you can easily find study groups when it suits you. </h3>
        </center>
    </body>
</head>
{% endblock %}