{% extends "base.html" %}

{% block content %}

<head>
    <title> Your study sessions </title>

    <link rel="stylesheet" href="../static/style.css">  
</head>

<body>
    {% if createdSessions %}
        <center><h1> Study sessions you created: </h1></center>

        {% for c in createdSessions %}

            <div class="card">

                <h3><a class="card-link" href="/viewGroup/groupId={{ c.0.id }}">{{ c.0.title }}</a></h3>

                <p><b>{{ c.0.topic }}</b> &nbsp {{ c.0.description }}</p>

                <p> Starting: {{ c.0.startDate }} at {{ c.0.startTime }} &nbsp; <a class="card-link" id="location" href="/viewLocation/locationId={{ c.0.meetingLocation }}"> {{ c.0.locationTitle }}</a></p>
                
                <meta name="csrf-token" content="{{ csrf_token() }}">
                
            </div>

        {% endfor %}

    {% endif %}

    {% if bookedSessions %}
        <center><h1> Study sessions you booked on: </h1></center>

        {% for b in bookedSessions %}

            <div class="card">

                <h3><a class="card-link" href="/viewGroup/groupId={{ b.0.id }}">{{ b.0.title }}</a></h3>

                <p><b>{{ b.0.topic }}</b> &nbsp {{ b.0.description }}</p>

                <p> Starting: {{ b.0.startDate }} at {{ b.0.startTime }} &nbsp; <a class="card-link" id="location" href="/viewLocation/locationId={{ b.0.meetingLocation }}"> {{ b.0.locationTitle }}</a></p>
                
                <meta name="csrf-token" content="{{ csrf_token() }}">
                
            </div>

        {% endfor %}
    {% endif %}

    {% if not bookedSessions %}
        {% if not createdSessions %}
            <br> 
            <center><h1> You have no created sessions or bookings</h1></center>
        {% endif %}
    {% endif %}

</body>

{% endblock %}